* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    text-align: center;
    --bs-gutter-x: 0;
    a {
        text-decoration: none;
        color: inherit;
    }
    #watched {
        background: rgba(lightgreen, 0.7);
        min-height: 93vh;
        span {
            color: green;
            &:hover {
                background: rgba(yellow, 0.7);
            }
        }
    }
    #unwatched {
        background: rgba(salmon, 0.7);
        min-height: 93vh;
        span {
            color: red;
            &:hover {
                background: rgba(yellow, 0.7);
            }
        }
    }
}

#calendar_basic {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}